body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homeRow {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 30%;
  margin: 5px;
}
.homeCard {
  max-width: 600px;
  max-height: 500px;
  margin: 5px;
}

label {
  font-size: 1.5rem;
  width: 250px;
}
.homeOpener {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: end;
  margin: 5px;
}
.arrayinput {
  height: 30px;
}
.stackbutton {
  margin: 5px;
}
.bar {
  width: 2px;
  margin: 1px;
  font-size: .5rem;
  background-color: pink;
}
.flexContainer {
  display: flex;
  justify-content: center;
  align-items: end;
  margin: 5px;
}
.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.slidecontainer {
  width: 50%; /* % Width of the outside container */
  display: flex;
  align-items: center;
}
/* The square slider itself */
.slider {
  direction: rtl;/* 'right-to-left' so speed increases as slider moves right instead of left */
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}
/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}